@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Manager</h1>
    <a href="/Inventory/AddItem"class="btn btn-primary">Add Item</a>
    <a href="/Inventory/TableDisplay"class="btn btn-primary">View Inventory</a>
</div>
